
.ant-modal {
    background-color: lightgray;
  }
  
  
  .ant-modal-body {
    padding: 16px; 
  }
  
  
  .ant-modal-body p {
    margin: 0; 
    border-bottom: 1px solid #ddd;
    padding: 8px 0; 
  }
  
  /* TeamModal.css */
.centered-title {
  text-align: center;
}


.modal-with-border {
  border: 2px solid #000; 
}


.modal-paragraph {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Specify your desired font-family */
  font-size: 16px; 
  color: #333; 
}

